!!!
%html
  %head
    %meta{content:'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title ChatSpace
    = csrf_meta_tags
    -# = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css', type: 'text/css', media: 'all'
  %body
    = render 'layouts/notifications'
    = yield
